*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* Header */

.container-header {
  padding: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.container-header .container {
  display: flex;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16em;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
  margin-right: 76px;
}

.nav-logo .logo-span {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-list-item .link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  font-style: normal;
  text-decoration: none;
  padding: 24px 0;
}

.nav-list-item .link:hover {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item .link:active {
  color: #404bbf;
  text-decoration: underline;
}

.nav-list-item:nth-of-type(1) .link {
  position: relative;
  color: #404bbf;
}

.nav-list-item:nth-of-type(1) .link::after {
  text-decoration: underline;
  border-radius: 2px;
  content: "";
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.address-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.contact .link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  text-decoration: none;
  font-style: normal;
}

.contact .link:hover, .address-list:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .link:active {
  color: #404bbf;
  text-decoration: underline;
}

.address-list-item .link {
  list-style: none;
}

/* First Section */

.first-section {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 188px 0;
  margin: 0 auto;
  text-align: center;
}

.first-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.h1-text {
  color: white;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07em;
  letter-spacing: 2%;
  text-align: center;
  text-decoration: none;
  max-width: 496px;
  margin-bottom: 48px;
}

.button-styles {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 4%;
  text-decoration: none;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  text-align: center;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  margin: auto;
  align-items: center;
}

.button-styles:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #404bbf;
}

.h1-div {
  margin: auto;
  align-items: center;
  text-align: center;
}


/* Second Section */

.second-section {
  padding: 120px 0;
}

.second-section-list-item .icon-container {
  background-color: #F4F4FD;
  border: solid 1px;
  border-radius: 4px;
  border-color: #8E8F99;
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 8px;
}

.second-section-list {
  display: flex;
  gap: 24px;
  min-height: 104px;
}

.second-section-list-item {
  list-style: none;
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-section-list-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 2%;
  text-decoration: none;
  margin-bottom: 8px;
}

.second-section p {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  text-decoration: none;
}


/* Third Section */

.third-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.third-section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 2%;
  text-align: center;
  text-decoration: none;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.third-section-list {
  display: flex;
  gap: 24px;
}

.third-section-list-item {
  list-style: none;
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);
  background-color: white;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  border-radius: 0px 0px 4px 4px;
}

.third-section li {
  width: 264px;
}

.list-item-container {
  padding: 32px 0;
}

.third-section h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 2%;
  text-align: center;
  margin-bottom: 8px;
}

.third-section p {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  text-align: center;
}

.third-section .social-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
  list-style: none;
}

.third-section .social-icons .social-icons-list {
  width: 40px;
  height: 40px;
}

.third-section .social-icons .social-icons-list .social-link {
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.third-section .social-icons .social-icons-list .social-link:hover,
.third-section .social-icons .social-icons-list .social-link:focus {
  background-color: #404BBF;
}


.social-icon {
  fill: #f4f4fd;
}

/* Forth Section */

.forth-section {
  padding: 120px 0;
}

.forth-section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 2%;
  text-align: center;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.forth-section-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.forth-section-list-item {
  list-style: none;
  width: calc((100% - 48px) / 3);
}

.forth-section li {
  width: 360px;
  height: 420px;
}

.forth-section-list-item-container {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.forth-section h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 2%;
  margin-bottom: 8px;
}

.forth-section p {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
}

.img-container {
  width: 360px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.forth-section-list .forth-section-list-item .img-container .img-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  background-color: #4d5ae5;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.forth-section-list .forth-section-list-item:hover .img-container .img-text {
  transform: translateY(0);
}

.forth-section-list-item:hover,
.forth-section-list-item:focus {
  box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
}

/* Form */

.form-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2E2F4266;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  visibility: hidden;
}

.close-div {
  width: 24px;
  height: 24px;
  top: 24px;
  left: 360px;
  position: absolute;

}

.close-css {
  border: solid 1px #0000001A;
  border-radius: 24px;
  cursor: pointer;
  background-color: #E7E9FC;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-css:hover {
  background-color: #404BBF;
}

.form-css {
  width: 408px;
  height: 584px;
  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F, 0px 2px 1px 0px #00000033;
  position: absolute;
  border-radius: 4px;
  top: 80px;
}

.form-css p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 16px;
  color: #2E2F42;
}

.input-second-container {
  width: 360px;
  height: 336px;
  margin: auto;
  gap: 8px;
  text-align: left;
  margin: auto;
  color: #8E8F99;
}

.input-positions {
  width: 360px;
  height: 58px;
  margin-bottom: 10px;
  position: relative;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 4%;
  color: #8E8F99;
}

.input-css {
  width: 360px;
  height: 40px;
  border: solid 1px #2E2F4266;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 4%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  margin-top: 4px;
  transition-property: border-color;
  outline: none;
}

.input-css:focus {
  border-color: #4D5AE5;
}

.form-icons {
  width: 18px;
  height: 24px;
  margin-top: 12px;
  left: 16px;
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.comment-css {
  width: 360px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 4%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  outline: none;
  border: solid 1px #2E2F4266;
  border-radius: 4px;
  position: relative;
  resize: none;
  padding-left: 16px;
  padding-top: 8px;
  top: 4px;
}

.comment-css::placeholder {
  color: #2E2F4266;
}

.comment-css:focus {
  border-color: #404BBF;
}

.input-css:focus+.form-icons {
  fill: #404BBF;
}

.checkbox-css {
  width: 360px;
  height: 16px;
  margin-top: 24px;
  margin-left: 24px;
  position: absolute;
  display: flex;
  justify-content: left;
  text-align: left;
}

.checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 4%;
  color: #8E8F99;
}

.privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33em;
  letter-spacing: 4%;
  color: #4D5AE5;
  text-decoration: underline;
}

.checkbox-input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-top: 2px;
  left: 24px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: solid 1px #2E2F4266;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: var(--color1);
}

.checkbox-input:checked {
  background-color: #404BBF;
}

.checkbox-svg {
  position: absolute;
  margin-left: -21px;
  margin-top: 6px;
  pointer-events: none;
}

.send-button {
  width: 169px;
  height: 56px;
  color: white;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 4%;
  text-align: center;
  border: none;
  display: block;
  margin: auto;
  margin-top: 16px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: var(--color1);
}

.send-button:hover {
  background-color: #404BBF;
  
}


/* Footer Section */

.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16em;
  letter-spacing: 3%;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}

.footer-logo .logo-span {
  color: #f4f4fd;
}
.footer-section p {
  color: #e7e9fc;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  max-width: 264px;
}

.footer-section .social-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
  list-style: none;
}

.footer-section .social-icons .social-icons-list {
  width: 40px;
  height: 40px;
}

.footer-section .social-icons .social-icons-list .social-link {
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section .social-icons .social-icons-list .social-link:hover,
.footer-section .social-icons .social-icons-list .social-link:focus {
  background-color: #31D0AA;
}

.footer-section .container {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.footer-logo-text-container {
  margin-right: 120px;
}

.footer-social-media p {
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  text-decoration: none;
  margin-bottom: 16px;
}

.subscribe-container {
  width: 453px;
  height: 80px;
  display: flex;
  margin-left: 80px;
  color: #ffffff;
}

.footer-form {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  display: block;
  text-align: left;
  margin-bottom: 16px;
}

.footer-mail {
  width: 264px;
  height: 40px;
  border: solid 1px #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: transparent;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 4%;
  padding-left: 16px;
  text-align: left;
}

.footer-mail::placeholder {
  color: #ffffff;
}

.subscribe-button {
  width: 165px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 4%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: var(--color1);
}

.subscribe-button:hover {
  background-color: #404BBF;
}

.icon-subscribe {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}


/* Tablet Responsive */

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .container-header {
    display: flex;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: center;
  }

  .header-nav {
    display: flex;
  }
  
  .nav-list {
    margin-left: 120px;
  }

  .address-list {
    display: block;
  }

  .link {
    margin: 0 auto;
  }

  .nav-list-item:nth-of-type(1) .link::after {
    bottom: -4px;
  }

  .first-section {
    height: 436px;
    padding: 0;
    padding-top: 112px;
  }

  .second-section {
    align-items: center;
    margin-left: 0px;
  }

  .second-section-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px;
    align-items: center;
    justify-content: center;
  }

  .second-section-list .icon-container {
    display: none;
  }

  .second-section-list-item {
    min-width: 339px;
  }

  .second-section-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 2%;
  }

  .second-section p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 2%;
  }

  .third-section-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .forth-section-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-section .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 108px;
    margin-right: 164px;
  }

  .footer-logo-text-container {
    margin: 0;
    margin-bottom: 72px;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
  }

  .footer-social-media {
    margin: 0px;
  }

  .subscribe-container {
    margin: 0;
  }
}

@media (min-resolution: 192dpi) {
  .first-section {
    background-image: radial-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-1-2x.jpg);
  }
}