body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    width: 1440px;
    height: 3300px;
}
.main-logo-web {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16em;
    letter-spacing: 3%;
    text-align: center;
}

.main-logo-studio {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16em;
    letter-spacing: 3%;
    text-align: center;
}

.main-logo-studio-footer {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #F4F4FD;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16em;
    letter-spacing: 3%;
}

a {
    text-decoration: none;
}


.header-list a {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 2%;
    font-style: normal;
    text-decoration: none;
}

.header-list a:hover {
    color: #404BBF;
}

.header-list a:active {
    color: #404BBF;
    text-decoration: underline;
}

.header-list li {
    list-style-type: none;
}

.address-list a {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 2%;
    text-decoration: none;
    font-style: normal;
}

.address-list a:hover {
    color: #404BBF;
}

.address-list a:active {
    color: #404BBF;
    text-decoration: underline;
}

.address-list li {
    list-style: none;
}

.main-section {
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
}

.h1-text {
    color: white;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07em;
    letter-spacing: 2%;
    text-align: center;
    text-decoration: none;
    width: 496px;
    height: 120px;
}

.button-styles {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 4%;
    text-decoration: none;
    cursor: pointer;
    width: 169px;
    height: 56px;
    text-align: center;
    border: none;
    border-radius: 4px;
}

.button-styles:hover {
    background-color: #404BBF;
}

.second-section h3 {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 2%;
    text-decoration: none;
    
}

.second-section p {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 2%;
    text-decoration: none;

}

.second-section li {
    list-style: none;
}

.our-team-section {
    background-color: #F4F4FD;
    width: 1440px;
    height: 732px;
}

.our-team-section li {
    list-style: none;
}

.our-team-section h2 {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 2%;
    text-align: center;
    text-decoration: none;
}

.our-team-section h3 {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 2%;
    text-align: center;
}

.our-team-section p {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 2%;
    text-align: center;
}

.our-team-section li {
    width: 264px;
    height: 380px;
    background-color: white;
}

.our-portfolio-section li {
    list-style: none;
    border-style: solid;
    border-color: #E7E9FC;
    width: 360px;
    height: 420px;
}

.our-portfolio-section h2 {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 2%;
    text-align: center;
}

.our-portfolio-section h3 {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 2%;
}

.our-portfolio-section p {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 2%;
}

.footer-section {
    width: 1440px;
    height: 312px;
    background-color: #2E2F42;
}

.footer-section p {
    color: #E7E9FC;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 2%;
}

.container-header {
    width: 1158px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E7E9FC;
}

.menu-nav {
    width: 261px;
    height: 24px;
    gap: 40px;
    display: flex;
    align-items: center;
    margin-left: 76px;
}

.address-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    margin-left: 332px;
}



.logo {
    display: flex;
    align-items: center;
    margin-left: 156px;
    width: 115px;
    height: 24px;
}

.mail-text {
    width: 153px;
    height: 24px;
    margin-right: 40px;



}

.tel-text {
    width: 151px;
    height: 24px;
    margin-right: 156px;
    text-align: center;

}

.h1-div {
    width: 496px;
    height: 120px;
    padding: 188px 492px 292px 472px;
    align-items: center;
}

.button-div {
    padding: 48px 635px 188px 636px;
    align-items: center;
    gap: 10px
}

.second-section ul {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    gap: 8px;
    padding-left: 156px;
}

.strategy-div {
    width: 264px;
    height: 72px;
}

.punctuality-div {
    width: 264px;
    height: 72px;
}

.diligence-div {
    width: 264px;
    height: 72px;
}

.technologies-div {
    width: 264px;
    height: 72px;
}

.second-section {
    width: 1128px;
    height: 104px;
    padding-bottom: 300px;
}

.our-team-section ul {
    display: flex;
    gap: 32px;
    padding-left: 156px;
}

.our-team-section h2 {
    padding-top: 120px;
    padding-bottom: 30px;
}

.our-portfolio-section ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 156px
}

